{% extends "base_generic.html" %}

{% block content %}

    <p>You like having all the options, don't you?</p>
    <p>Welcome to <em>searchflights.herokuapp.com</em>, a website developed to search flights using
        <a href="https://www.kiwi.com/en/" target="_blank">kiwi's api</a>.</p>

    {{ form.media }}

    {% load crispy_forms_tags %}


    {% crispy form %}

    <br>
    <div class="developed_by_footer"><p>Developed by Yanis Mathiopoulos in Django, hosted by Heroku. 2020</p></div>

{% endblock %}

