{% extends "base_generic.html" %}

{% block content %}
    <h1>Flight Tracker</h1>

    <p>Welcome to <em>Flight Tracker</em>, a very basic Django website developed to track flight prices using <a
            href="https://www.kiwi.com/en/">kiwis api</a> for searching flights.</p>


    <form method="post">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Submit">
    </form>

    <p>You have visited this page {{ num_visits }} times.</p>

{% endblock %}