{% extends "base_generic.html" %}

{% block content %}
<h1>Flight Tracker</h1>

<p>Welcome to <em>Flight Tracker</em>, a very basic Django website developed to track flight prices using <a href="https://www.kiwi.com/en/">kiwis api</a> for searching flights.</p>
<p>More info here</p>


{#<h2>Dynamic content</h2>#}

{#<p>The website can have dynamic content here:</p>#}
{#<ul>#}
{#<li><strong>Books:</strong> {{ num_books }}</li>#}
{#<li><strong>Copies:</strong> {{ num_instances }}</li>#}
{#<li><strong>Copies available:</strong> {{ num_instances_available }}</li>#}
{#<li><strong>Authors:</strong> {{ num_authors }}</li>#}
{#</ul>#}


{#You have visited this page {{ num_visits }} times.#}

{% endblock %}