body {
    background-color: #232226;
    color: #add1ea;
    padding-left: 80px;
    background-image: url('../images/4.jpg');
}

/*h1 a, h2 a {*/
/*    color: #2f74a0;*/
/*}*/

/*TODO cell input color*/

table.input_form_table {
    /*color: #4890bb;*/
    /*border: 1px solid #2f74a0;*/
    background-color: #2c376d;
    /*width: 100%;*/
    text-align: left;
    /*border-collapse: collapse;*/
}

table.input_form_table, td, th {
    /*color: #2f74a0;*/
    border: 1px solid #2f74a0;
    /*padding: 3px 2px;*/
}

table.result_table {
    /*color: white;*/
    /*display: table;*/
    /*border-collapse: separate;*/
    /*border-spacing: 2px;*/
    /*background-color: lightgreen;*/
    /*color: black;*/
    /*display: table;*/
    /*border-spacing: 2px;*/
    width: 600px;
}

td.airlines_cell {
    /*color: #2f74a0;*/
    /*border-spacing: 20px;*/
    padding-left: 20px;
    text-align: left;
    /*column-span: 3;*/
}

table.result_table, th, td {
    background-color: #1a1717;
    /*color: #2f74a0;*/
    border: 1px solid #2f74a0;
}

table.result_table, td {
    height: 50px;
    text-align: center;
}