body {
    background-color: #232226;
    color: #add1ea;
    padding-left: 80px;
    background-image: url('../images/background1.jpg');
    width: 600px;
    padding-top: 50px;
}

.developed_by_footer p {
    font-size: small;
}

/*h1 a, h2 a {*/
/*    color: #2f74a0;*/
/*}*/


.flight_search_input_form {
    width: 500px;
    /*color: #2c376d;*/
}

.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active {
    /*background-color: green;*/
    /*color: salmon;*/
}


.result_table table {
    /*color: white;*/
    /*display: table;*/
    /*border-collapse: separate;*/
    /*border-spacing: 2px;*/
    /*background-color: lightgreen;*/
    /*color: black;*/
    /*display: table;*/
    /*border-spacing: 2px;*/
    background-color: #191f24;
    /*padding-left: 20px;*/
    padding: 30px;
    border: 1px solid #2f74a0;
}

.result_table td,
.result_table th,
.result_table tr {
    background-color: #191f24;
    /*border-spacing: 20px;*/
    /*padding-left: 20px;*/
    text-align: center;
    /*column-span: 3;*/
    border: 1px solid #2f74a0;
    height: 50px;
    width: 200px;
    padding: 20px;
}

.airlines_cell td {
    text-align: left;
}


